@import "~bootswatch/dist/spacelab/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/spacelab/bootswatch";


$secondaryColor: #989898;


h1
{
  text-align: center;
  background-color: $secondaryColor;
}

@media screen and (max-width: 1024px)
{
  .endFormButton
  {
    width: 15vw;
    height: 5vw;
    margin-left: 42vw;
  }
  .endFormButtonLg
  {
    display: none;
  }
}

@media screen and (min-width: 1024px)
{
  .endFormButtonLg
  {
    margin-left: 20vw;
    margin-top: 20vw;
    width: 8vw;
    height: 3vw;
  }
  .endFormButton
  {
    display: none;
  }
  .form-row
  {
    margin-top: 2vw;
  }
}
