@import "~bootswatch/dist/spacelab/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/spacelab/bootswatch";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@font-face {
  font-family: "Projet IO";
  font-weight: bold;
  src: url('../../assets/fonts/BrandonGrotesque-Bold.otf');
  src: url('../../assets/fonts/BrandonGrotesque-Bold.otf') format('truetype'),
       url('../../assets/fonts/BrandonGrotesque-Regular.otf') format('truetype'),
       url('../../assets/fonts/BrandonGrotesque-BoldItalic.otf') format('truetype'),
       url('../../assets/fonts/BrandonGrotesque-RegularItalic.otf') format('truetype');
}

@font-face {
  font-family: "BrandonText";
  src: url("../../assets/fonts/BrandonText-Bold.otf");
  src: url("../../assets/fonts/BrandonText-Bold.otf") format('truetype'),
       url("../../assets/fonts/BrandonText-Regular.otf") format('truetype'),
       url("../../assets/fonts/BrandonText-RegularItalic.otf") format('truetype'),
       url("../../assets/fonts/BrandonText-BoldItalic.otf") format('truetype');
}

$logoutColor: #6D737D;
$colorIO: #FCA000;
$secondaryColor: #989898;

nav {
  height: 8vh;
}

.logout {
  border-color: $logoutColor;
  color: $logoutColor;
  cursor: pointer;
}

.username {
  white-space: nowrap;
  margin-right: 1vw;
  color: white;
  font-weight: bold;
}

.Projet {
  white-space: nowrap;
  font-family: Projet IO, serif;
  color: white;
  font-weight: bold;
  span {
    color: $colorIO;
  }
}

.navbarIO {
  float: right !important;
  text-align: right;
  right: 1vw;
}

.adminLogout{
  margin-left: 70vw;
}

@media (max-width:991px){
  .adminLogout{
    margin-left: 1vw;
  }
}

@media (min-width:992px){
  .adminLogout{
    margin-left: 60vw;
  }
}

@media (min-width:1135px){
  .adminLogout{
    margin-left: 65vw;
  }
}

@media (min-width:1330px){
  .adminLogout{
    margin-left: 70vw;
  }
}

@media (min-width:1600px){
  .adminLogout{
    margin-left: 75vw;
  }
}

a:hover {
  text-decoration:none;
}

.navbar.bg-dark {
  background-image: none;
  width: 100vw !important;
}

.navbar-collapse {
  min-width: 100vw;
  max-width: 100vw;
  margin-left: -17px;
}

h1
{
  text-align: center;
  background-color: $secondaryColor;
}
.btn
{
  margin-left: 40vw;
  margin-top: 2vw;
  margin-bottom: 5vw;
}
.simulator
{

}