@import "~bootswatch/dist/spacelab/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/spacelab/bootswatch";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@font-face {
  font-family: "Projet IO";
  src: url('../../assets/fonts/BrandonGrotesque-Bold.otf');
  src: url('../../assets/fonts/BrandonGrotesque-Bold.otf') format('truetype'),
  url('../../assets/fonts/BrandonGrotesque-Regular.otf') format('truetype'),
  url('../../assets/fonts/BrandonGrotesque-BoldItalic.otf') format('truetype'),
  url('../../assets/fonts/BrandonGrotesque-RegularItalic.otf') format('truetype');
}

@font-face {
  font-family: "BrandonText";
  src: url("../../assets/fonts/BrandonText-Bold.otf");
  src: url("../../assets/fonts/BrandonText-Bold.otf") format('truetype'),
  url("../../assets/fonts/BrandonText-Regular.otf") format('truetype'),
  url("../../assets/fonts/BrandonText-RegularItalic.otf") format('truetype'),
  url("../../assets/fonts/BrandonText-BoldItalic.otf") format('truetype');
}

$logoutColor: #6D737D;
$colorIO: #FCA000;
$secondaryColor: #989898;
$trashColor: #FF0000;
$whiteColor: #FFFFFF;
$black: #000000;
$cardColor: #f3fbfa;
$resultColor: #5fd3bc;
$backgroundCard: #f3fbfa;
$backgroundZone: #bababa;

body {
  padding-top:60px;
  font-family: BrandonText, serif;
  font-size: 16pt;
  color: $black;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid $black;
}

.topResult {
  justify-content: center;
  height: 5vh;
  max-width: 100vw;
  margin-bottom: 2vh;
  h1 {
    color: $black;
    font-weight: bold;
  }
}

table {
  margin: auto;
}

.pdf {
  margin-top: 5vh;
  max-width: 100vw;
  margin-bottom: 5vh;
}

.highlight {
  font-weight: bold;
}

.left {
  text-align: center;
}

.logout {
  border-color: $logoutColor;
  color: $logoutColor;
  cursor: pointer;
}

.username {
  white-space: nowrap;
  margin-right: 1vw;
  color: $whiteColor;
}

.projet {
  white-space: nowrap;
  font-family: Projet IO, serif;
  color: $whiteColor;
  span {
    color: $colorIO;
  }
}

a:hover {
  text-decoration:none;
}

.navbar.bg-dark {
  background-image: none;
}

h1
{
  text-align: center;
  color: $whiteColor;
  padding: 0.3vw;
}

.pdfTitle {
  h1 {
    color: $resultColor;
    font-weight: bold;
  }
}

div.pdfResult {
  color: $whiteColor;
}

a {
  .fa-trash-alt {
    color: $trashColor;
  }
}

/* DATE PICKER FOR CHROME*/

input[type="date"] {
  position: relative;
}

input[type="date"]:after {
  content: "\25BC";
  color: #555;
  padding: 0 5px;
}

input[type="date"]:hover:after {
  color: #bf1400;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

input[type="date"]::-webkit-inner-spin-button {
  z-index: 1;
}

input[type="date"]::-webkit-clear-button {
  z-index: 1;
}

.resetPassword {
  margin-top: 20vh;
}

.container
{
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding: 1vw;
}

.variablesTitle {
  margin-bottom: 8vh;
}

.backToList {
  margin-left: 0.75vw;
}

.table th, .table td {
  border-top: 1px solid $black;
}

.table thead th {
  border-bottom: 1px solid $black;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
}

.modal-content {
  margin-top: 20vw;
}

.navbarform {
  font-size: 20pt;
}
.btn-primary {
  font-size: 17pt;
}
.previous {
  text-align: left;
  font-size: 18pt;
}
.previousForm {
  color: $whiteColor;
}
.card-header {
  color:  $resultColor;
  border: none;
  font-size: 18pt;
  font-weight: bold;
}
.result {
  background-color:$resultColor;
}
.card {
  border: none;
  background-color: $backgroundCard;
}
.zone {
  background-color: $backgroundZone;
  color: $whiteColor;
}
