<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="projet navbar-brand" href="{{ path('finances') }}">Projet <span>I/O</span></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-dark bg-dark" id="navbarSupportedContent">
        <ul class="navbar-nav  mr-auto mt-2 mt-lg-0 ">
        </ul>
        <ul class="navbar-nav">
            {% if app.user.email is defined %}
            <li>
                <span class="nav-link username">{{ app.user.email }}</span>
            </li>
            <li>
                <a href="{{ path('app_logout') }}" class="btn btn-outline-dark logout nav-link"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
            </li>
            {% else %}
            <li>
                <a href="{{ path('app_login') }}" class="btn btn-outline-dark logout nav-link"><i class="fas fa-sign-out-alt"></i> Connexion</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

