{% extends 'layout.html.twig' %}

{% block body %}

    <table>
        <tr>
            {#champ 1#}
            <td>
                <p>Code postal</p>
            </td>
            <td>
                <p>13008</p>
            </td>

            {#champ 2#}
            <td>
                <p>Ville</p>
            </td>
            <td>
                <p>Marseille</p>
            </td>

            {#champ 3#}
            <td>
                <p>Zone</p>
            </td>
            <td>
                <p>A</p>
            </td>

            {#champ 4#}
            <td>
                <p>Année d'aquisition</p>
            </td>
            <td>
                <p>2018</p>
            </td>

            {#champ 5#}
            <td>
                <p>Durée</p>
            </td>
            <td>
                <p>9 ans</p>
            </td>

            {#champ 6#}
            <td>
                <p>Surface en m2</p>
            </td>
            <td>
                <p>100</p>
            </td>

            {#champ 7#}
            <td>
                <p>Prix d'acquisition</p>
            </td>
            <td>
                <p>950.000€</p>
            </td>

            {#champ 8#}
            <td>
                <p>Frais de notaire</p>
            </td>
            <td>
                <p>50.000€</p>
            </td>

            {#champ 9#}
            <td>
                <p>Autres frais d'acquisition</p>
            </td>
            <td>
                <p>2578€</p>
            </td>

            {#champ 10#}
            <td>
                <p>Montant total de l'acquisition</p>
            </td>
            <td>
                <p>1.002.578€</p>
            </td>

            {#champ 11#}
            <td>
                <p>Votre avantage fiscal</p>
            </td>
            <td>
                <p>20.000€</p>
            </td>
        </tr>
    </table>

{% endblock %}