{% extends 'layout.html.twig' %}

{% block body %}

    <div class="row mb-5 bg-primary text-center">
        <div class="col">
            <h1 class="pdfResult">Résultat de la simulation</h1>
        </div>
    </div>

    {{ include('resultTable.html.twig') }}

    <div class="row pdf justify-content-center">
        <a href="{{ path('pdf_export') }}" class="btn btn-primary btn-lg">Exporter en pdf</a>
    </div>

    <div class="previous">
        <input type="button" class="btn btn-primary" value="Retour" onclick="history.go(-1)">
    </div>

{% endblock %}
