{% extends 'layout.html.twig' %}

{% block body %}

    <table>
        <tr>
            <td>
                <p>champ</p>
            </td>

            <td>
                <p>champ.valeur</p>
            </td>
        </tr>
    </table>

{% endblock %}