{% extends 'layoutPdf.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row justify-content-center pdfTitle">
            <h1>Résultat de la simulation</h1>
        </div>

        {{ include('resultTable.html.twig') }}

    </div>

{% endblock %}
