{% extends 'base.html.twig' %}

{% block title %}Edit Variable{% endblock %}

{% block body %}
    <h1>Edit Variable</h1>

    {{ include('variable/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('variable_index') }}">back to list</a>

    {{ include('variable/_delete_form.html.twig') }}
{% endblock %}
