{% extends 'layoutAdmin.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Ajout d'un nouvel utilisateur{% endblock %}

{% block body %}

    <h1 class="bg-primary">Ajout d'un nouvel utilisateur</h1>
    <div class="container">

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('user_index') }}"><i class="fas fa-arrow-left"></i> Retour à la liste des utilisateurs</a>
    </div>
{% endblock %}
